backcall==0.2.0
certifi==2020.12.5
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
cycler==0.10.0
decorator==4.4.2
ipykernel @ file:///C:/ci/ipykernel_1596208728219/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1598883894321/work
ipython-genutils==0.2.0
jedi @ file:///C:/ci/jedi_1596472767194/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core==4.6.3
kiwisolver @ file:///C:/ci/kiwisolver_1603996595157/work
matplotlib @ file:///C:/ci/matplotlib-base_1603356257853/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.19.5
olefile==0.46
pandas @ file:///C:/ci/pandas_1609008089615/work
parso==0.7.0
pickleshare @ file:///C:/ci/pickleshare_1594374056827/work
Pillow @ file:///C:/ci/pillow_1609786872067/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pyparsing==2.4.7
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
pywin32==227
pyzmq==20.0.0
scipy @ file:///C:/ci/scipy_1597686737426/work
seaborn @ file:///tmp/build/80754af9/seaborn_1608578541026/work
six==1.15.0
tornado==6.0.4
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
wincertstore==0.2
